HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/cc/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.env

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/AutomatedTests/node_modules/
/AutomatedTests/cypress/videos/
/AutomatedTests/cypress/screenshots/
cc-test-reporter
/soapui.log
/soapui-errors.log
/global-groovy.log
/TestErrors.zip
/ICON2Audit-soapui-project.xml
/ICON2HSR-soapui-project.xml
/ICON2-*-FAILED.txt
/ICON2Auth-soapui-project.xml
/ICON2Message-soapui-project.xml
/ICON2MyInfo-soapui-project.xml
/ICON2MyFiles-soapui-project.xml
/ICON2Audit-AutomationTests-eReportAnswersSubmitted-0-FAILED.txt
/ICON2Audit-EReportAnswersSubmitted-eReportAnswersSubmitted-0-FAILED.txt
/ICON2Audit-EServiceAccessed-eServiceAccessed-0-FAILED.txt
/ICON2Audit-EServiceFunctionAccessed-eServiceFunctionAccessed-0-FAILED.txt
/ICON2Audit-HealthServiceRequestSubmitted-healthServiceRequestSubmitted-0-FAILED.txt
/ICON2Audit-HomeScreenAccessed-homeScreenAccessed-0-FAILED.txt
/ICON2Audit-IdleTimeoutExecuted-idleTimeoutExecuted-0-FAILED.txt
/ICON2Audit-LogoutExcecuted-logoutExcecuted-0-FAILED.txt
/ICON2Audit-MessageAccessed-messageAccessed-0-FAILED.txt
/ICON2Audit-PrimaryAuthenticationCompleted-primaryAuthenticationCompleted-0-FAILED.txt
/ICON2Audit-ReauthenticationFailed-reauthenticationFailed-0-FAILED.txt
/ICON2Audit-ReauthenticationSucceeded-reauthenticationSucceeded-0-FAILED.txt
/ICON2Audit-SessionTimeoutExecuted-sessionTimeoutExecuted-0-FAILED.txt
/ICON2AuthTestSuite-GetDeviceInfo-getDeviceInfo-0-FAILED.txt
/ICON2AuthTestSuite-GetHasFunctionalAbility-getHasFunctionalAbility-0-FAILED.txt
/ICON2AuthTestSuite-GetPreAuthorizeClient-getPreAuthorizeClient-0-FAILED.txt
/ICON2AuthTestSuite-GetUserInfo-getUserInfo-0-FAILED.txt
/ICON2HSRTestSuite-GetHealthServiceRequestHistory-getHealthServiceRequestHistory-0-FAILED.txt
/ICON2HSRTestSuite-GetHSRCount-getHSRCount-0-FAILED.txt
/ICON2HSRTestSuite-PublishHSR-publishHSR-0-FAILED.txt
/ICON2MessageTestSuite-GetMessageDetails-getMessageDetails-0-FAILED.txt
/ICON2MessageTestSuite-GetMessages-getMessages-0-FAILED.txt
/ICON2MessageTestSuite-SetMessageDetails-setMessageDetails-0-FAILED.txt
/ICON2MyFiles-GetAgencyFile-getAgencyFile-0-FAILED.txt
/ICON2ERPT-soapui-project.xml
